{% extends "base.html" %}

{% block title %}{{ partner.username }}{% endblock %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        activate_my_chat("{{ chat_type }}", {{ id }});
        $('#id_users').change(function(){
            document.location.href = "/chat/user/"+$(this).val()+"/";
        })
        $('#id_rooms').change(function(){
            document.location.href = "/chat/room/"+$(this).val()+"/";
        })


    });
</script>
{% endblock %}

{% block content %}
<div class="chat">
    <div class="partner">
        <p class="messages">
            <span style="color: red;">{{ user.username }}</span>, Вы общаетесь с <span style="color: red;">{{ object }}</span>. Так же вы можете общаться с {{ users }} или в {{ rooms }}
        </p>
    </div>
    {% if object == user %}
        <h3>Согласен, иногда очень важно поговорить с самим собой %)</h3>

    {% else %}
    <div class="conversation" id="conversation">
    </div>

    <form class="message_form">
        <div class="compose">
            <textarea rows="1" cols="30" id="message_textarea"></textarea>
        </div>
        <div class="send">
            <button class="btn" type="button">Отправить от {{ user.username }}</button>
            <p>Вы также можете отправлять сообщения с помощью клавиш Ctrl + Enter.</p>
        </div>
    </form>
    {% endif %}
</div>

{% endblock content %}
